@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html,
body,
#root {
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}